/*set theme colors as variables*/
:root {
    --main-purple: #735D78;
    --secondary-purple: #B392AC;
}

/*set default theme font*/
* {
    font-family: 'Figtree', sans-serif;
}

h1 {
    margin: 1%;
    font-size: 32px;
}

.title-screen {
    display: flexbox;
    justify-content: center;
    align-items: center;
}

.centered {
    padding: 20px;
    border: 3px solid green; /*temporary for visualizing/testing*/
    text-align: center;
}

.button {
    /* display: block; */
    background-color: var(--main-purple);
    color: white;
    font-weight: bold;
    padding: 1em;
    margin: 1%;
    /* width: 75%; */
    border-radius: 5%;
    font-size: 16px;
    cursor: pointer;
}

.quiz-button {
    display: block;
}

.button:hover {
    background-color: var(--secondary-purple);
}