/*set theme colors as variables*/
:root {
  --main-purple: #735d78;
  --secondary-purple: #b392ac;
}

/*set default theme font*/
* {
  font-family: "Figtree", sans-serif;
}

i {
  padding-right: 1%;
}

header {
  display: flex;
}

.high-scores,
.timer {
  display: flex;
  width: 50%;
  flex-wrap: wrap;
  padding: 1%;
  font-weight: bold;
  font-size: 20px;
  align-items: center;
}

.timer {
  justify-content: flex-end;
}

#count-down {
  padding: 5px;
}

h1 {
  margin: 1%;
  font-size: 32px;
}

p {
  display: flex;
  font-size: 20px;
  justify-content: center;
}

.title-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.title {
  width: 60%;
  justify-content: center;
}

.centered {
  padding: 20px;
  /* border: 3px solid var(--main-purple);*/
  text-align: center;
  align-items: center;
  align-content: center;
}

.quiz-container {
  border: 3px solid var(--main-purple);
  margin: 5% 5% 1% 5%;
  padding: 2%;
  display: flex;
  flex-wrap: wrap;
}

.answer-container {
  padding: 2%;
  flex-wrap: wrap;
  width: 100%;
}

.button {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: var(--main-purple);
  color: white;
  font-weight: bold;
  padding: 2%;
  margin: 2% 0;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
}

.title-button {
  width: 25%;
}

.button:hover {
  background-color: var(--secondary-purple);
}

.message-container p {
  justify-content: center;
  font-weight: bold;
}

[data-visibility="visible"] {
  visibility: visible;
}

[data-visibility="hidden"] {
  display: none; /*doesn't include white-space when an element is hidden*/
}

div[data-answer-status="correct"] p:first-child {
  color: green;
  font-size: 36px;
}

div[data-answer-status="incorrect"] p:first-child {
  color: red;
  font-size: 36px;
}

#score {
  padding-left: 5px;
}

#initial-entry,
#initials,
#save-btn {
  display: flex;
  margin: 1%;
  justify-content: center;
  line-height: 10%;
}

#save-btn {
  width: auto;
}

input {
  padding: 0 0 0 1%; /*add padding to left side only*/
}

/*Style the high scores table*/
#dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 20px;
}

#highscore-table {
  display: flex;
  flex-direction: column;
  list-style-type: auto; /*change bullets to numbers*/
  min-width: 100px;
  padding: 0;
  margin: 0;
}

li {
  text-align: center;
}

li:nth-child(even) {
  background-color: #eeeeee;
}

li:nth-child(odd) {
  background-color: #a1a1a1;
}

#play-again {
  display: flex;
  justify-content: center;
}

#play-again-btn {
  width: auto;
}
